/* PackageDetails.css */
.package-details-container {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow: hidden;
  }
  
  .header-image-container {
    position: relative;
    width: 100%;
  }
  
  .header-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .nav-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  .nav-items {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .nav-item {
    color: #183b83;
    /* background-color: #689aff; */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #183b83;
    color: #ffffff;

  }
  
  .nav-item.active {
    background-color: #183b83;
    color: #ffffff;

  }
  
  .section-container {
    background-color: #fff;
    padding: 2rem;
    margin: 1.5rem;
    background-color: #183b83; /* Add a background color if needed */
    display: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .section-container.active {
    display: block;
  }
  
  /* Media Queries for Responsiveness */
  @media (min-width: 800px) {
    .header-image {
      max-height: 400px;
    }
  
    .nav-items {
      font-size: 1.2rem;
    }
  
    .nav-item {
      padding: 0.5rem 1.5rem;
    }
  
    .section-container {
      font-size: 1.2rem;
    }
  }

  .content *{
color: white;

  }


  /* In your component's CSS file or a separate styles file */
.form-container {
  background-color: #3498db; /* Blue background color */
  padding: 20px;
  border-radius: 8px;
  color: white; /* Text color on the blue background */
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.travel-form {
  display: grid;
  gap: 20px;
}

/* Style individual form fields as needed */
.travel-form input,
.travel-form textarea {
  background-color: transparent; /* Make input fields transparent */
  border: 1px solid white; /* White border for input fields */
  color: white; /* Text color for input fields */
  padding: 10px;
}

/* Style the submit button */
.travel-form button {
  background-color: #3498db; /* Blue background for the button */
  color: white; /* Text color for the button */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.travel-form button:disabled {
  background-color: #ccc; /* Gray background for disabled button */
  cursor: not-allowed;
}

